<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>SAML SP</title>
</head>
<body>
<h1>Configured Identity Providers</h1>
<div th:if="${param.uploadSuccess}">
    <p style="color:green;">IDP metadata uploaded successfully!</p>
</div>
<p>SP Init SSO Login Endpoint: <strong>/saml/login?idp={your-idp-entity-id}</strong></p>
<ul>
    <li th:each="idp : ${idps}">
        <span th:text="${idp.entityId}"></span>
        <a th:href="@{/saml/login(idp=${idp.entityId})}">Login with this IDP</a>
        <form th:action="@{/delete(id=${idp.entityId})}" method="post">
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>

<a href="/upload">Upload New IDP Metadata</a>
</body>
</html>